<!-- display the basic information for the current user's public repositories-->
<div class="container">
	<h1>Public repositories</h1>
	<ul style="list-style-type:none;">
		<% @repositories.each do |repo|%>
		<li>
			<p>
				<b><%= repo[:name].capitalize %></b>: 
				<i><%= repo[:description]%>
				</i> 
				<b>[Watchers: <%= repo[:watchers] %>, 
					Forks: <%= repo[:forks]%>, 
					Stargazers: <%= repo[:stargazers_count] %>]</b>
			</p>
		</li>
		<% end%>
	</ul>
</div>