<!-- display the basic information for the current user's public repositories-->
<div class="container">
	<table class="table table-bordered table-hover table-condensed">
		<caption><%= current_user.name %>'s public repositories</caption>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Watchers</th>
			<th>Forks</th>
			<th>Stargazers</th>
		</tr>
		<% @repositories.each do |repo|%>
		<tr>
			<td><strong><%= repo[:name].capitalize %></strong></td>
			<td><em><%= repo[:description]%></em></td>
			<td><%= repo[:watchers] %></td>
			<td><%= repo[:forks]%></td>
			<td><%= repo[:stargazers_count] %></td>
		</tr>
		<% end%>
	</table>
</div>