<li>
	<%= link_to 'About', about_path, class:'navbar-brand' %>
</li>
<li>
	<%= link_to 'Contact', contact_path %>
</li>
<% unless current_user %>
	<li>
		<%= link_to "Sign in with Github", signin_path %>
	</li>

<% else %>
	<li>
		<%= link_to "Github profile", "/github" %>
	</li>
<li>
	<%= link_to "Sign out", "/signout"%>
</li>
<% end%>