<li>
	<%= link_to 'About Us', root_path, class:'navbar-brand' %>
</li>
<li>
	<%= link_to 'Contact Us', '#' %>
</li>


<% unless current_user %>
	<li>
		<%= link_to "Sign in with Github", "/signin" %>
	</li>
<% else %>
	<li>
		<%= link_to "Github profile", "/github" %>
	</li>
<li>
	<%= link_to "Sign out", "/signout"%>
</li>
<% end%>